.btn {
    width: 160px;
    height: 45px;
    background: $main-color;
    border-radius: 30px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &__calculation {
        margin: 39px auto;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
        width: 230px;
        height: 57px;
        padding-top: 21px;
    }
    &__prices {
        margin: auto;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        a {
            text-decoration: none;
            color: $second-color
        }
    }
}



