.footer {
    min-height: 201px;
    width: 100%;
    background-color: #25333c;
    &__up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 14px;
        &-logo {
            img {
                width: 68px;
                height: 71px;
            }
        }
        &-motto {
            padding-left: 43px;
            display: inline-block;
            font-family: Roboto;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
        }
        &-wrapper {
            display: flex;
            flex-direction: row;
        }
        &-contacts {
            display: inline-block;
            @include contacts;
        }
    }
    &__divider {
        width: 100%;
        height: 1px;
        opacity: 0.3;
        background-color: #fff;
    }
    &__down {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 14px 36px 14px ;
        &-copy {
            opacity: 0.6;
            font-family: Roboto;
            font-size: 13px;
            line-height: 17px;
            font-weight: 300;
        }
        &-policy {
            a {
                font-family: Roboto;
                font-size: 13px;
                line-height: 17px;
                font-weight: 300;
                text-decoration: underline;
                color: #ec644b;
            }
        }
    }
}