.promo {
    background: url(../../img/bg/main_bg.jpg) center (center/cover) no-repeat;
    min-height: 680px;
    text-align: center;
    &__descr {
        font-family: 'Roboto';
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        padding-top: 9px;
    }
    &__title {
        font-family: 'Roboto Condensed';
        font-size: 72px;
        line-height: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        padding-top: 26px;
        margin-bottom: 0;
    }
    &__subtitle {
        font-family: 'Roboto Condensed';
        font-size: 42px;
        line-height: 42px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 9px;
        margin-bottom: 0;
    }

    &__divider {
        display: flex;
        justify-content: center;
        align-items: center;
        &-line {
            height: 1px;
            width: 390px;
            background-color: $second-color;
        }
        &-circle {
            height: 10px;
            width: 10px;
            background-color: $second-color;
            border-radius: 100%;
            margin: 27px 10px 27px 10px;
        }
    }

    &__blocks {
        text-align: center;
        &-icon {
            position: absolute;
            display: block;
            margin: auto;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            padding: auto;
            &-wrapper {
                position: relative;
                height: 63px;
                margin-bottom: 12px;
            }
        }
        &-text {
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;
        }
    }
}