.title {
    font-family: 'Roboto';
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
    padding-top: 55px;
    text-align: center;
    &__descr {
        font-family: Roboto;
        font-size: 21px;
        line-height: 24px;
        font-weight: 300;
        color: #2e2e2e;
        text-align: center;
        padding: 0 131px;
    }
}

.subtitle {
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $main-color;
}

.text {
    font-size: 14px;
    font-weight: 300;
    color: #3a3a3a;
}

